/*
* © Copyright IBM Corporation 2025
* SPDX-License-Identifier: Apache-2.0
*/


table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: var(--cds-ui-01, #f4f4f4);
}

th {
    color: var(--cds-text-01, #161616);
    background-color: var(--cds-ui-03, #e0e0e0);
}

td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table,
th,
td {
    border: 1px solid;
    padding: 5px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    color: var(--cds-text-02, #525252);
    border: 1px solid var(--cds-ui-03, #e0e0e0);
}